*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff9ec4,#ffc8dd,#cdb4db,#a2d2ff);
    background-size:400% 400%;
    animation:bgMove 15s ease infinite;
    color:white;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.hero{
    width:90%;
    max-width:700px;
    padding:50px;
    text-align:center;

    background:rgba(255,255,255,.12);
    backdrop-filter:blur(20px);

    border-radius:30px;
    border:1px solid rgba(255,255,255,.25);

    box-shadow:0 20px 60px rgba(0,0,0,.2);
}

.hero h1{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    line-height:1.8;
    opacity:.95;
}

button{
    margin-top:35px;
    padding:16px 38px;
    border:none;
    border-radius:50px;
    font-size:18px;
    cursor:pointer;
    background:white;
    color:#ff4d8d;
    font-weight:bold;
    transition:.3s;
}

button:hover{
    transform:translateY(-5px) scale(1.08);
    box-shadow:0 15px 35px rgba(255,255,255,.4);
}

.hidden{
display:none;
}
.scene2{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;
padding:30px;

opacity:0;
pointer-events:none;

transition:1s;
}

.scene2.show{
opacity:1;
pointer-events:auto;
}

.fadeOut{
animation:fadeOut .8s forwards;
}

@keyframes fadeOut{
to{
opacity:0;
transform:scale(.9);
}
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}

.heart{
position:fixed;
font-size:28px;
animation:fly 4s linear forwards;
pointer-events:none;
}

@keyframes fly{
0%{
transform:translateY(0);
opacity:1;
}
100%{
transform:translateY(-100vh);
opacity:0;
}
}

/* ---------- SKY ---------- */

.sky{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
overflow:hidden;
z-index:-2;
}

.moon{

position:absolute;

top:70px;
right:50px;

width:120px;
height:120px;

border-radius:50%;

background:white;

box-shadow:
0 0 30px white,
0 0 80px rgba(255,255,255,.7);

opacity:.9;

animation:moonGlow 4s ease-in-out infinite;
}

@keyframes moonGlow{

0%,100%{
transform:scale(1);
}

50%{
transform:scale(1.08);
}

}

.star{

position:absolute;

width:3px;
height:3px;

background:white;

border-radius:50%;

animation:twinkle 2s infinite;

}

@keyframes twinkle{

0%,100%{
opacity:.2;
transform:scale(1);
}

50%{
opacity:1;
transform:scale(2);
}

}
